{% extends 'layout.html' %}

{% block head %}{% endblock %}
{% block title %}sign-up{% endblock %}
{% block content %}
    <form action="/newcus" method="POST">
<section class="h-100 h-custom gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="p-5">
                  <h3 class="fw-normal mb-5" style="color: #4835d4;">Tell us more about you!!!</h3>

                  <div class="mb-4 pb-2">
                    <select name="gender" class="select">
                      <option value="male">male</option>
                      <option value="female">female</option>

                    </select>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">

                      <div class="form-outline">
                        <input type="text" name="first_name" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplev2" >First name</label>
                      </div>

                    </div>
                    <div class="col-md-6 mb-4 pb-2">

                      <div class="form-outline">
                        <input type="text" name="middle_name" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplev3">Middle name</label>
                      </div>

                    </div>
                  </div>
                      <div class="row">
                    <div class="col-6 mb-4 pb-2">

                      <div class="form-outline">
                        <input type="text" name="last_name" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplev2">last name</label>
                      </div>

                    </div>

                  </div>



                  <div class="mb-4 pb-2 col-6">
                    <div class="form-outline">
                      <input type="text" name="home_number"  class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplev4">Home number</label>
                    </div>
                  </div>
                  <div class="mb-4 pb-2 col-6">
                    <div class="form-outline">
                      <input type="text" name="Phone_number"  class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplev4">Phone number</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">

                      <div class="form-outline">
                        <input type="text" name="ssn" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplev5">SSN</label>
                      </div>

                    </div>
                    <div class="col-md-6">

                      <input type="radio" id="html" name="plans" value="basic" {% if 'Basic' in plan %} checked="checked" {% endif %}     >
                        <label for="html">Basic</label><br>
                        <input type="radio" id="css" name="plans" value="golden" {% if 'Golden' in plan %}checked="checked"{% endif %}     >
                        <label for="css">Golden</label><br>
                        <input type="radio" id="javascript" name="plans" value="premuim"{% if 'Premium' in plan%}checked="checked"{% endif %}     >
                        <label for="javascript">Premuim</label>
                      </select>

                    </div>
                  </div>

                </div>
              </div>
              <div class="col-lg-6 bg-info text-black">
                <div class="p-5">

                  <div class="mb-4 pb-2">
                    <div class="form-outline form-white">
                      <input type="text" name="city" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplea2">city</label>
                    </div>
                  </div>

                  <div class="mb-4 pb-2">
                    <div class="form-outline form-white">
                      <input type="text" name="state" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplea3">State</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-5 mb-4 pb-2">

                      <div class="form-outline form-white">
                        <input type="text" name="zip" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplea4">Zip Code</label>
                      </div>

                    </div>
                    <div class="col-md-7 mb-4 pb-2">

                      <div class="form-outline form-white">
                        <input type="text" name="street_name" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplea5">Street name</label>
                      </div>

                    </div>
                  </div>
                    <div class="row">
                    <div class="col-md-5 mb-4 pb-2">

                      <div class="form-outline form-white">
                        <input type="text" name="street_number" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplea4">Street number</label>
                      </div>

                    </div>
                    <div class="col-md-7 mb-4 pb-2">

                      <div class="form-outline form-white">
                        <input type="text" name="apartment_number" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplea5">Apartment number</label>
                      </div>

                    </div>
                  </div>

                  <div class="mb-4 pb-2">
                    <div class="form-outline form-white">
                      <input type="date" name="birth_date" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplea6">Birth_date</label>
                    </div>
                  </div>

                  <div class="row">

                    <div class="col-9 mb-4 pb-2">

                      <div class="form-outline form-white">
                        <input type="text" name="job" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplea8">job</label>
                      </div>

                    </div>
                  </div>

                  <div class="mb-4">
                    <div class="form-outline form-white">
                      <input type="text" name="email" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplea9">Your Email</label>
                    </div>
                  </div>

                  <div class="form-check d-flex justify-content-start mb-4 pb-3">
                    <input
                      class="form-check-input me-3"
                      type="checkbox"
                      value=""
                      id="form2Example3c"
                    />
                    <label class="form-check-label text-white" for="form2Example3">
                      I do accept the <a href="#!" class="text-white"><u>Terms and Conditions</u></a> of your site.
                    </label>
                  </div>
                <input type="submit" class="btn btn-light btn-lg"  value="Submit"/>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</form>
{% endblock %}

{% block footer %}

{% endblock %}

